.menu-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  display: none;
  z-index: 9999;

  &.visible {
    display: block;
  }

  ul.dropdown-menu {
    border: solid 1px #aaa;
    display: inline-block;
    border-radius: 3px;
    margin: 0;
    padding: 4px 0;
    background-color: white;
    z-index: 99999;

    .menu-option {
      white-space: nowrap;
      text-align: left;
      margin: 0;
      padding: 7px 11px;
      cursor: pointer;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      gap: 6px;

      &:hover {
        background-color: #eee;
      }

      svg {
        flex-shrink: 0;
      }
    }
  }

  &.rtl {
    ul.dropdown-menu .menu-option {
      text-align: right;
      direction: rtl;
    }
  }
}
