.notification_wrapper {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  display: grid;
  justify-content: center;
  border: 0;
  width: 100%;
  height: 0;
  z-index: 2147483647;
  background-color: transparent;

  .notification {
    position: relative;
    top: 60px;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #0000001f;
    padding: 20px;

    &.info {
      border-color: #4a4aaf;
    }
    &.success {
      border-color: rgb(20, 235, 181);
    }
    &.error {
      border-color: #e61364;
    }
  }
}
