:root {
  --button: #4a4aaf;
  --button-danger: #e61364;
  --button-secondary: #efefef;
  --button-secondary-text: #929292;
  --separator-color: #f0f0f0;
}

.remodal-bg {
  display: none;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}

.remodal {
  * {
    font: inherit;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  align-self: center;
  position: relative;
  max-width: 800px;
  min-width: 500px;
  background: white;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;

  .remodal-header {
    border-bottom: solid 1px lightgray;
    padding-bottom: 20px;

    h2 {
      text-align: center;
      margin: 0;
    }
  }

  .remodal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .remodal-confirm,
  .remodal-cancel {
    float: right;
    margin-left: 10px;
    width: 160px;
  }

  p {
    margin: 25px 0;

    &[data-remodal-message] {
      max-height: calc(100vh - 220px);
      overflow: scroll;

      a {
        text-decoration: underline;
      }
    }
  }

  button[data-remodal-action] {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    border: 0;
  }

  .remodal-close,
  .remodal-close:before {
    display: block;
    font-size: 25px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
    background: transparent;
    cursor: pointer;
    transition: color 0.2s;
    color: #95979c;
    padding: 0;
    margin: 0;
  }

  .remodal-close:hover {
    color: black;
  }

  .remodal-confirm {
    color: #fff;
    background: var(--button);
  }

  .remodal-cancel {
    color: var(--button-secondary-text);
    background: var(--button-secondary);
  }
  .remodal-cancel,
  .remodal-confirm {
    display: inline-block;
    vertical-align: middle;
    min-width: 110px;
    padding: 12px 0;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
  }

  .remodal-form-line {
    margin-bottom: 10px;
    .remodal-form-line-title {
      font-size: 1rem;
    }
  }

  .radio-option {
    display: block;
    line-height: 2.2rem;
    input[type='radio'] {
      height: 1.2rem;
      width: 1.2rem;
      display: inline-grid;
      justify-content: center;
      align-content: center;
    }
  }

  input,
  textarea,
  select {
    width: 100%;
    margin: 0;
  }
  input,
  select {
    height: 1.8em;
  }

  input[type='radio'],
  input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .remodal {
    padding: 15px;
    min-width: 320px;
    width: 100%;
    * {
      box-sizing: border-box;
    }

    p {
      margin: 10px 0;
    }

    .remodal-confirm,
    .remodal-cancel {
      width: 130px;
      font-size: 0.85em;
      margin-left: 4px;
    }
  }
}
